.reactflow-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  overflow: auto;
}

img {
  pointer-events: none; /* Ensure image itself doesn't interfere with resizing */
}


.dndnode {
  padding: 10px;
  margin: 10px;
  background: #9ca8b3;
  color: #fff;
  cursor: grab;
  border-radius: 5px;
  text-align: center;
}

aside {
  width: 20%;
  background: #f4f4f4;
  padding: 10px;
}

.description {
  margin-bottom: 10px;
}
